@import '~bootstrap/scss/bootstrap';

.titleClass {
    font-size: 60px;
    text-align: center;
}

#inform {
    text-align: center;
}

.restrooms {
    display: none
}

.locations {
    display: none
}